/* Fixes For Bootwrapper */
html,
body {
    background-color: #1e1f1e !important;
    color: white !important;
}

::selection {
    background-color: transparent;
    color: hsla(41, 98%, 56%, 0.84);
}

 .hide {
 	display: none;
 }  

code {
   color: hsla(41, 98%, 56%, 0.84) !important;   
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1f1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spaced-top {
    margin-top: 7rem;
}

.container {
    background-color: transparent;
}

.title {
    margin-top: -18rem;
} img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.image-move {
    width: 20%;
    height: 20%;
    margin-right: 0rem;
    margin-top: -9rem;
    opacity: 53;
} #opaqe {
    opacity: .30;
} #if-smaller {
    font-size: 60px;
}

.information {
    margin-top: 20rem;
} #blurred-img {
    filter: blur(6px);
    -webkit-filter: blur(6px);
    margin-top: -9rem;
    opacity: .3;
} .QAN {
    margin-top: 2rem;
    margin-left: 2rem;
} .downloading-info {
    margin-top: 1rem;
} .custom-frame {
    margin-left: 3rem;
    border-radius: 7px;
    background-color: hsla(0, 5%, 11%, 0.81);
}

.space-be-end {
    margin-top: 3rem;
}

#shrink-2 {
    margin-left: 4.5rem; 
    color: grey;
}

#readable-download {
  background-color: hsla(38, 7%, 20%, 0.86);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  border-right: transparent;
  padding: 4px;
  width: 10rem;
} #readable-download:hover {
  cursor: pointer;
  border-color: grey;
}

#readable-dropdown {
  background-color: hsla(38, 7%, 20%, 0.86);
  color: white;
  border: 1px solid white;
  border-left: transparent;
  padding: 4px;
  width: 1rem; 
} #readable-dropdown:hover {
  cursor: pointer;
  border-color: grey;
}

.dropdown {
  position: absolute;
  margin-left: -7px;
  display: inline-block;
  border-left: transparent;
  background-color: hsla(38, 7%, 20%, 0.86);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  background-color: hsla(38, 7%, 20%, 0.86);
  text-decoration: none;
  display: block;
}

.dropdown-content span {
  color: white;
  padding: 12px 16px;
  background-color: hsla(38, 7%, 20%, 0.86);
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: hsla(38, 6%, 9%, 0.86)}

.dropdown:hover .dropdown-content {
  display: block;
}

.margininated-left {
  margin-top: 1rem;
  color: white;
  background-color: hsla(38, 7%, 20%, 0.86);
  border: 1px solid white;
  border-radius: 4px;
  padding: 1rem;
  width: 77rem
}

#cookies-popup {
  color: white;
  border: 1px solid white;
  background-color: hsla(38, 7%, 20%, 0.86) !important;
  width: 65rem;
  position: fixed;
  bottom:1rem;
  right:1rem;
}

#cookie-btn {
  background-color: hsla(38, 7%, 20%, 0.86);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 1px;
  float:right;
  width: 5rem;
} #cookie-btn:hover {
  cursor: pointer;
  border-color: grey;
}

@media only screen and (max-width: 1500) {
    .margininated-left {
        width: 35rem;
        font-size; 17px;
            
    }
}

@media only screen and (max-width: 1000px) {
    .image-move {
        display: none;
    }
    
    .margininated-left {
        width: 27rem;
        font-size: 14px;
    }
    
    #if-smaller {
        font-size: 43px;
    }
    
    #shrink-2 {
        font-size: 13.5px;
    }
}
